@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;300;400;700&display=swap");
/**************
mixins
**************/
/**************
basic styles
**************/
body {
  font-family: "Public Sans", sans-serif;
  font-size: 16px;
  color: #444;
  font-weight: 300;
}

a {
  transition: 0.3s ease;
}

.py-5 {
  padding: 80px 0 !important;
}

.underline, h2::after {
  display: block;
  content: "";
  width: 200px;
  height: 5px;
  background: linear-gradient(to right, #d8303e, #c1262e, #a72230);
  margin: 20px auto;
}

h2 {
  font-size: 3rem;
}
/**************
nav
**************/
nav img {
  width: 150px;
}
nav .nav-link {
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0 0 1px #231f20;
}
nav .nav-link:hover {
  color: #d8303e;
}
nav .active .nav-link {
  color: #d8303e;
}

.stickyAdd {
  background: rgba(255, 255, 255, 0.6);
  transition: 0.5s all ease-in-out;
  box-shadow: 0 1px 8px 3px rgba(35, 31, 32, 0.2);
}
.stickyAdd .nav-link {
  color: #444;
}

/**************
mainHeader
**************/
.mainHeader {
  background-image: linear-gradient(rgba(35, 31, 32, 0.3), rgba(35, 31, 32, 0.3)), url(img/skola-veb-dizajna-header.jpg);
  background-position: 50% 0;
  background-size: cover;
  height: 100vh;
  clip-path: polygon(0 0, 100% 0%, 100% 80%, 50% 100%, 0 80%);
}
.mainHeader article {
  height: 100vh;
}
.mainHeader article h1 {
  font-size: 4rem;
  text-shadow: 0 0 10px #231f20;
}
.mainHeader article p {
  text-shadow: 0 0 10px #231f20;
}
.mainHeader article .col-md-4 {
  background: rgba(216, 48, 62, 0.9);
  flex: 0 0 30%;
}
.mainHeader article .col-md-4 a {
  color: #fff;
}
.mainHeader article .col-md-4:nth-child(1) {
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}
.mainHeader article .col-md-4:nth-child(2) {
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}
.mainHeader article .col-md-4:nth-child(3) {
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}

/**************
footer
**************/
footer {
  background: #f3f3f3;
  clip-path: polygon(50% 0%, 100% 20%, 100% 100%, 0 100%, 0 20%);
  padding: 150px 0 80px 0;
}
footer a {
  color: #d8303e;
}
footer a:hover {
  color: #343434;
}
footer .container:first-child {
  border-bottom: 1px solid rgba(68, 68, 68, 0.2);
}
footer .container:first-child img {
  width: 150px;
}
footer .container:first-child h4 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
footer .container:first-child ul {
  line-height: 2;
}
footer .container:first-child a {
  color: #343434;
  text-decoration: none;
}
footer .container:first-child a:hover {
  color: #d8303e;
}

/**************
onama
**************/
.onama .col-md-6 {
  flex: 0 0 47%;
}

/**************
kursevi
**************/
.kursevi, .utisci {
  background: linear-gradient(to right, #d8303e, #c1262e, #a72230);
  clip-path: polygon(0 20%, 100% 0, 100% 80%, 0% 100%);
  padding: 250px 0;
}
.kursevi h2::after, .utisci h2::after {
  display: none;
}
.kursevi .card, .utisci .card {
  border: none;
  margin-bottom: 30px !important;
}
.kursevi .card img, .utisci .card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.kursevi .card button, .utisci .card button {
  background: #231f20;
  color: #fff;
  padding: 10px 40px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s ease;
  border: none;
  clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0% 100%, 10% 50%, 0% 0%);
}
.kursevi .card button:hover, .utisci .card button:hover {
  background: #d8303e;
  padding: 10px 60px;
}

/**************
blog
**************/
.blog .card {
  position: relative;
}
.blog .card .meta {
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(167, 34, 48, 0.8);
}
.blog .card .meta p {
  margin-bottom: 0;
  padding: 10px;
  color: #fff;
}
.blog .card .meta p a {
  color: #fff;
  text-decoration: underline;
}
.blog .card .meta p a:hover {
  text-decoration: none;
}
.blog .card .holder {
  overflow: hidden;
}
.blog .card .holder img {
  transition: transform 0.5s ease-in-out;
}
.blog .card .holder img:hover {
  transform: scale(1.1);
}
.blog .card .card-body {
  padding: 30px;
}
.blog .card .card-body button {
  background: #231f20;
  color: #fff;
  padding: 10px 40px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s ease;
  border: none;
  clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0% 100%, 10% 50%, 0% 0%);
}
.blog .card .card-body button:hover {
  background: #d8303e;
  padding: 10px 60px;
}

/**************
utisci
**************/
.utisci .item {
  background: #fff;
  padding: 30px;
  position: relative;
  margin: 0 0 50px 0;
  border-radius: 5px;
}
.utisci .item img {
  width: 70px;
  border-radius: 50%;
  outline: 5px solid #fff;
  position: absolute;
  bottom: -35px;
}
.utisci .item h5 {
  margin-bottom: 30px;
}

/**************
onama stranica
**************/
.onamaHeader {
  background-image: linear-gradient(rgba(35, 31, 32, 0.3), rgba(35, 31, 32, 0.3)), url(img/onama-dog.jpg);
  background-position: center;
  background-size: cover;
  height: 80vh;
  clip-path: polygon(0 0, 100% 0%, 100% 80%, 50% 100%, 0 80%);
}
.onamaHeader h1 {
  font-size: 5rem;
  text-shadow: 0 0 10px #231f20;
}

/*** onamaUvod ***/
.onamaUvod h3 {
  color: #d8303e;
  margin-bottom: 30px;
  font-size: 2rem;
  text-shadow: 0 0 1px #231f20;
}

/*** ctaKursevi ***/
.ctaKursevi {
  background-image: linear-gradient(rgba(35, 31, 32, 0.6), rgba(35, 31, 32, 0.6)), url(img/cta.jpg);
  background-position: center;
  background-size: cover;
  height: 70vh;
  background-attachment: fixed;
  clip-path: polygon(0 20%, 100% 0, 100% 80%, 0% 100%);
}
.ctaKursevi button {
  background: #d8303e;
  color: #fff;
  padding: 10px 40px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s ease;
  border: none;
  clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0% 100%, 10% 50%, 0% 0%);
}
.ctaKursevi button:hover {
  background: #a72230;
  padding: 10px 60px;
}

/*# sourceMappingURL=style.css.map */
